body {
    background :#white;
    text-align:center;
}

#game {
    background: #yellow;
    padding:0px;
    width:200px;
    height:200px;
    position:absolute;
    left:50%;
    margin-left:-200px;
}

.empty {
    background-image: url("blue.png");
    width:40px;
    height:40px;
    position:absolute;
}

.green {
    background-image: url("green.png");
    width:40px;
    height:40px;
    position:absolute;
}

#header {
    min-height:100px;
}

#footer {
    min-height:450px;
}